<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icn/favicon.ico') }}">
        <title>Summary | GUDLFT Registration</title>
    </head>
    <body>
        <h2>Welcome, {{club['email']}} </h2><a href="{{url_for('logout')}}">Logout</a>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        Points available: {{club['points']}}
        <h3>Competitions:</h3>
        <ul>
            {% for comp in competitions%}
            {% if 'test' not in comp['name'] %}
                    <li>
                        {{comp['name']}}<br />
                        Date: {{comp['date']}}</br>
                        Number of Places: {{comp['numberOfPlaces']}}
                        {%if comp['numberOfPlaces'] >0 and club['points'] >0%}
                            <a href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a>
                        {%endif%}
                        {%if comp['reserved_places']%}
                            <ul>
                                {%for entry in comp['reserved_places']%}
                                    <li>Club : {{entry['club_name']}} - Reserved places : {{entry['reserved_places']}}
                                {%endfor%}
                            </ul>
                        {%endif%}
                    </li>
                    <hr />
                {%endif%}
            {% endfor %}
        </ul>
    </body>
</html>